body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center; /* Vertically centers icon and text */
  }

h1 {
    color: #0d0d0c;
    text-align: center;
}

p {
    color: #0b0b0b;
}

#footer {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
}

#footer a {
    margin: 0 10px;
    color: #d78b10;
    text-decoration: none;
}

#footer a:hover {
    color: #b8730e;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #333333;
}

.nav-link {
    color: #000000 !important;
}

.nav-link:hover {
    color: #333333 !important;
}

.arch-image{
    object-fit: cover;
    border-radius: 150px 150px 0 0;
    width: 100%;
    max-width: 300px;
    height: auto;
}